<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  
    <header class="pb-0">
        
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="#">Bookers</a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a href="/" class="nav-link text-light"><i class="fas fa-home"></i><span class="ml-1">Home</span></a>
              </li>
              <% if user_signed_in? %>
                <li>
                  <%= link_to users_path, class: 'nav-link text-light' do %>
                    <i class="fas fa-users"></i><span class="ml-1">Users</span>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to books_path, class: 'nav-link text-light' do %>
                    <i class="fas fa-book-open"></i><span class="ml-1">Books</span>
                  <% end %>
                </li>

                <li class="nav-item">
                  <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-light' do %>
                    <i class="fas fa-sign-out-alt text-light"></i><span class="ml-1">Log out</span>
                  <% end %>
                </li>
              <% else %>
                <li>
                  <%= link_to about_path, class: 'nav-link text-light' do %>
                    <i class="fas fa-link"></i><span class="ml-1">About</span>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to new_user_registration_path, class: 'nav-link text-light' do %>
                    <i class="fas fa-user-plus"></i><span class="ml-1">Sign up</span>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to user_session_path, class: 'nav-link text-light' do %>
                    <i class="fas fa-sign-in-alt"></i><span class="ml-1">Log in</span>
                  <% end %>
                </li>
              <% end %>
            </ul>
        </div>
      </nav>
    </header>
    <%= notice %>
    <%= alert %>
    <%= yield %>
    <footer class="mt-5">
      <div class="container text-center">
        <p>CopyRight Infratop.inc</p>
      </div>
    </footer>
  </body>
</html>
